<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Macro Tracker</h1>
      <p class="lead">A simple way to stay on track towards your fitness goals</p>
    </div>
  </div>
</div>