<div class="container mt-5">
  <form action="/nutrition/search" method="post">
    <div class="input-group mb-3">
      <input 
        type="text" 
        class="form-control" 
        name="search"
        placeholder="Look up a food, values are per 100g serving of food" 
        aria-label="Look up a food" 
      >
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>

<div class="container mt-5 d-flex flex-column justify-content-center">
  <% foods.forEach( food => {%> 
    <table class="table-bordered table-responsive mb-5">
      <h5 class="text-center"><%= food.description  %></h5>
      <thead>
        <tr>
          <th class="text-center">Nutrient</th>
          <th class="text-center">Value</th>
        </tr>
      </thead>
      <% for(let i = 0; i < 4; i++){%>
      <tbody>
        <tr>
          <td><%= food.foodNutrients[i].nutrientName %></td>
          <td><%= food.foodNutrients[i].value %> <%= food.foodNutrients[i].unitName %>  </td>
        </tr>
      </tbody>
      <% } %> 
    </table>
  <% }) %> 
</div>